In [4]:
mylist = [1,2.5,'string',[3,4,5],{1:"hi","key":45}]

In [5]:
mylist

[1, 2.5, 'string', [3, 4, 5], {1: 'hi', 'key': 45}]

In [6]:
mylist.append(100)

In [7]:
mylist

[1, 2.5, 'string', [3, 4, 5], {1: 'hi', 'key': 45}, 100]

In [8]:
def append(num):
    print(num)

In [9]:
append(100)

100

In [10]:
mylist.append(100)

In [11]:
mylist2=[1,2,3]

In [12]:
mylist2.append(100)

In [13]:
mylist2

[1, 2, 3, 100]

In [15]:
mylist + [200]

[1, 2.5, 'string', [3, 4, 5], {1: 'hi', 'key': 45}, 100, 100, 200]

In [25]:
class Human():
    pass

In [27]:
person1 = Human()

In [28]:
person1

In [29]:
person1.name = "Lucy"

In [30]:
person1.name

'Lucy'

In [31]:
person1.age = 25

In [33]:
person1.age

25

In [50]:
class Human(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [51]:
person2 = Human(name="Farhad", age=45)

In [53]:
person2.name

'Farhad'

In [177]:
class Student(object):
    university = "Concordia"
    city = "Montreal"
    
    def __init__ (self, fname, lname, id, major, gpa):
        self.fname = fname
        self.lname = lname
        self.id= id
        self.major = major 
        self.gpa = gpa
        self.full_name = str(fname) +" " + str(lname)
        self.info = (self.full_name + " at " + Student.university + 
                      " in " + Student.city)
           
    def gpa_to_letter(self): 
        """ convert numeric GPA to letters """
        if self.gpa >= 4:
            return "A"     
        elif self.gpa >=3:
            return "B"      
        elif self.gpa >=2:
            return "C"      
        else:
            return "F"
        
    
    def __str__(self):
        
        return (self.full_name+ " studies at "+ Student.university 
                    + " with the GpA: " + self.gpa_to_letter())

In [178]:
student1 = Student("Farhad", "Tessier", 56039, "Industrial Engineering", 3.5)

In [169]:
student2 = Student("Robert", "Park", 67890, "Computer Science", 4)

In [179]:
print(student1)

Farhad Tessier studies at Concordia with the GpA: B

In [114]:
student2.gpa_to_letter()

'A'

In [82]:
student1.university

'Concordia'

In [140]:
class Vehicle(object):
    objective = "I am a means of transportation"

In [142]:
class Car(Vehicle):
    pass

In [143]:
veh = Vehicle()

In [144]:
veh.objective

'I am a means of transportation'

In [145]:
mycar = Car()

In [146]:
mycar.objective

'I am a means of transportation'