Learn String

In [3]:
for item in "red-blue-yellow".split('-'):
    print(item)

red
blue
yellow

In [5]:
mylist = "red-blue-yellow".split('-')

In [6]:
mylist

['red', 'blue', 'yellow']

In [7]:
for item in mylist:
    print(item)

red
blue
yellow

# If, Elif, Else

In [8]:
2 == 2

True

In [9]:
2 == 3

False

In [10]:
3 == 3

True

In [11]:
4 == 6

False

In [12]:
2 != 3

True

In [13]:
4 != 4

False

In [15]:
2 <= 2

True

In [16]:
2 < 3

True

In [17]:
2<2

False

In [18]:
'Hi' == "Hi"

True

In [19]:
if True:
    print("Hi I am True")

Hi I am True

In [20]:
if False:
    print("I am False")

In [22]:
if 2 == 5 :
    print("the statement is True")

In [23]:
mylist = [1 , 2, 5, 6, 8, 9, 6]

In [25]:
for num in mylist:
    
    
    if num == 6:
        print("Hi I am 6. See below!")
      
    
    
    print(num)

1
2
5
Hi I am 6. See below!
6
8
9
Hi I am 6. See below!
6

In [35]:
number = 5

if number == 6:
    print("Hi I am 6")
    
    
if number == 4:
    print("Hi I am 4")
    
else:
    print("Hi I am not 4")

Hi I am not 6

In [40]:
num = 5

# first if
if num >0:
    print("Hi I am positive")
    

# second if
if num == 5:
    print("Hi I am 5")
    
else:
    print("Hi I am not 5")

Hi I am positive
Hi I am 5

In [43]:
5%2

1

In [44]:
range(6)

range(0, 6)

In [47]:
list(range(1,100))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [48]:
6 % 2

0

In [50]:
if 6%2==0:
    print("yes this is even")

yes this is even

In [52]:
mylist = list(range(1,100))

In [57]:

# create an empty list
even_list=[]

# go to a for loop and populate my empty list
for num in mylist:
    
    if num%2 == 0:
        even_list.append(num)

#I am after for loop - my list is full now- print my full list
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [58]:



for num in mylist:
    
    if num%2 == 0:
        print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [62]:
a = 2
b = "Hi"
c = [1,2,3,4,5]

print(c)

[1, 2, 3, 4, 5]

In [68]:
num = 8
s = "my value is {}".format(num)

In [69]:
s

'my value is 8'

In [70]:
print(s)

my value is 8

In [75]:
mylist = list(range(1,100))
for num in mylist:
    
    if num%2 == 0:
        print("My value is {}. I was first {}. I am now an even number!".format(num, num-1))

My value is 2. I was first 1. I am now an even number!
My value is 4. I was first 3. I am now an even number!
My value is 6. I was first 5. I am now an even number!
My value is 8. I was first 7. I am now an even number!
My value is 10. I was first 9. I am now an even number!
My value is 12. I was first 11. I am now an even number!
My value is 14. I was first 13. I am now an even number!
My value is 16. I was first 15. I am now an even number!
My value is 18. I was first 17. I am now an even number!
My value is 20. I was first 19. I am now an even number!
My value is 22. I was first 21. I am now an even number!
My value is 24. I was first 23. I am now an even number!
My value is 26. I was first 25. I am now an even number!
My value is 28. I was first 27. I am now an even number!
My value is 30. I was first 29. I am now an even number!
My value is 32. I was first 31. I am now an even number!
My value is 34. I was first 33. I am now an even number!
My value is 36. I was first 35. I am now an even number!
My value is 38. I was first 37. I am now an even number!
My value is 40. I was first 39. I am now an even number!
My value is 42. I was first 41. I am now an even number!
My value is 44. I was first 43. I am now an even number!
My value is 46. I was first 45. I am now an even number!
My value is 48. I was first 47. I am now an even number!
My value is 50. I was first 49. I am now an even number!
My value is 52. I was first 51. I am now an even number!
My value is 54. I was first 53. I am now an even number!
My value is 56. I was first 55. I am now an even number!
My value is 58. I was first 57. I am now an even number!
My value is 60. I was first 59. I am now an even number!
My value is 62. I was first 61. I am now an even number!
My value is 64. I was first 63. I am now an even number!
My value is 66. I was first 65. I am now an even number!
My value is 68. I was first 67. I am now an even number!
My value is 70. I was first 69. I am now an even number!
My value is 72. I was first 71. I am now an even number!
My value is 74. I was first 73. I am now an even number!
My value is 76. I was first 75. I am now an even number!
My value is 78. I was first 77. I am now an even number!
My value is 80. I was first 79. I am now an even number!
My value is 82. I was first 81. I am now an even number!
My value is 84. I was first 83. I am now an even number!
My value is 86. I was first 85. I am now an even number!
My value is 88. I was first 87. I am now an even number!
My value is 90. I was first 89. I am now an even number!
My value is 92. I was first 91. I am now an even number!
My value is 94. I was first 93. I am now an even number!
My value is 96. I was first 95. I am now an even number!
My value is 98. I was first 97. I am now an even number!

In [77]:
mylist = list(range(1,100))
for num in mylist:
    
    if num%2 == 0:
        print("My value is {a}. I was first {b}. I am now an even number!".format(b=num-1,a=num))

My value is 2. I was first 1. I am now an even number!
My value is 4. I was first 3. I am now an even number!
My value is 6. I was first 5. I am now an even number!
My value is 8. I was first 7. I am now an even number!
My value is 10. I was first 9. I am now an even number!
My value is 12. I was first 11. I am now an even number!
My value is 14. I was first 13. I am now an even number!
My value is 16. I was first 15. I am now an even number!
My value is 18. I was first 17. I am now an even number!
My value is 20. I was first 19. I am now an even number!
My value is 22. I was first 21. I am now an even number!
My value is 24. I was first 23. I am now an even number!
My value is 26. I was first 25. I am now an even number!
My value is 28. I was first 27. I am now an even number!
My value is 30. I was first 29. I am now an even number!
My value is 32. I was first 31. I am now an even number!
My value is 34. I was first 33. I am now an even number!
My value is 36. I was first 35. I am now an even number!
My value is 38. I was first 37. I am now an even number!
My value is 40. I was first 39. I am now an even number!
My value is 42. I was first 41. I am now an even number!
My value is 44. I was first 43. I am now an even number!
My value is 46. I was first 45. I am now an even number!
My value is 48. I was first 47. I am now an even number!
My value is 50. I was first 49. I am now an even number!
My value is 52. I was first 51. I am now an even number!
My value is 54. I was first 53. I am now an even number!
My value is 56. I was first 55. I am now an even number!
My value is 58. I was first 57. I am now an even number!
My value is 60. I was first 59. I am now an even number!
My value is 62. I was first 61. I am now an even number!
My value is 64. I was first 63. I am now an even number!
My value is 66. I was first 65. I am now an even number!
My value is 68. I was first 67. I am now an even number!
My value is 70. I was first 69. I am now an even number!
My value is 72. I was first 71. I am now an even number!
My value is 74. I was first 73. I am now an even number!
My value is 76. I was first 75. I am now an even number!
My value is 78. I was first 77. I am now an even number!
My value is 80. I was first 79. I am now an even number!
My value is 82. I was first 81. I am now an even number!
My value is 84. I was first 83. I am now an even number!
My value is 86. I was first 85. I am now an even number!
My value is 88. I was first 87. I am now an even number!
My value is 90. I was first 89. I am now an even number!
My value is 92. I was first 91. I am now an even number!
My value is 94. I was first 93. I am now an even number!
My value is 96. I was first 95. I am now an even number!
My value is 98. I was first 97. I am now an even number!

In [78]:
mylist = [1, "hi",2]

In [80]:
mylist[1]

'hi'

# Dictionary

In [92]:
a = {"name":"Hossein", "ID":[1,2,3,78,9], "University":"Concordia"}

In [87]:
b ={"name":"Toyota", "color":"red"}

In [88]:
c = {"weather":"Sunny"}

In [89]:
d= {"key":"value"}

In [93]:
a["ID"]

[1, 2, 3, 78, 9]

In [106]:
e = {"Student Name":"Joey", "GPA":3.8, "full-time-sememsters":["F18","W18", "F19"]}

In [101]:
e

{'student_name': 'Joey',
 'GPA': 3.8,
 'full-time-sememsters': ['F18', 'W18', 'F19']}

In [102]:
type(a)

dict

In [107]:
e["Student Name"]

'Joey'

In [108]:
e.keys()

dict_keys(['Student Name', 'GPA', 'full-time-sememsters'])

In [109]:
e.values()

dict_values(['Joey', 3.8, ['F18', 'W18', 'F19']])

In [114]:
e.items()

dict_items([('Student Name', 'Joey'), ('GPA', 3.8), ('full-time-sememsters', ['F18', 'W18', 'F19'])])

In [111]:
for item in e.items():
    print(item)

('Student Name', 'Joey')
('GPA', 3.8)
('full-time-sememsters', ['F18', 'W18', 'F19'])

In [115]:
for item1, item2 in e.items():
    print(item1,": ", item2)

Student Name :  Joey
GPA :  3.8
full-time-sememsters :  ['F18', 'W18', 'F19']

In [116]:
for key, value in e.items():
    print(key,": ", value)

Student Name :  Joey
GPA :  3.8
full-time-sememsters :  ['F18', 'W18', 'F19']

In [117]:
e

{'Student Name': 'Joey',
 'GPA': 3.8,
 'full-time-sememsters': ['F18', 'W18', 'F19']}

In [120]:
e["full-time-sememsters"][0]

'F18'

In [121]:
mydict = {}

In [122]:
mydict["name"] = "Peter"

In [123]:
mydict

{'name': 'Peter'}

In [124]:
mydict["name"] = "Jack"

In [125]:
mydict

{'name': 'Jack'}

with the three lists below, create a list of dictionaries in a for loop

In [126]:
name_list = ["jack","peter","saif","hossein","asif"]

In [127]:
course_num = [1,2,5,2,0]

In [128]:
semester_list = [["F18"],["F18","W19"],["F17","F18"],["W18"],[]]

In [132]:
[
{"Name":"jack", "Course No.":1, "Semesters Reg.":["F18"]},
{"Name":"peter", "Course No.":2, "Semesters Reg.":["F18","W19"]}  
]

[{'Name': 'jack', 'Course No.': 1, 'Semesters Reg.': ['F18']},
 {'Name': 'peter', 'Course No.': 2, 'Semesters Reg.': ['F18', 'W19']}]

In [133]:
dict1={'Name': 'jack', 'Course No.': 1, 'Semesters Reg.': ['F18']}

In [134]:
dict2 = {'Name': 'peter', 'Course No.': 2, 'Semesters Reg.': ['F18', 'W19']}

In [135]:
list_of_dictionary = []

In [136]:
list_of_dictionary.append(dict1)

In [137]:
list_of_dictionary

[{'Name': 'jack', 'Course No.': 1, 'Semesters Reg.': ['F18']}]

In [138]:
list_of_dictionary.append(dict2)

In [139]:
list_of_dictionary

[{'Name': 'jack', 'Course No.': 1, 'Semesters Reg.': ['F18']},
 {'Name': 'peter', 'Course No.': 2, 'Semesters Reg.': ['F18', 'W19']}]

In [140]:
dict3={}

In [141]:
dict3["Name"]="hossein"
dict3["Course No."]=2
dict3["Semester Reg."]=['F18', 'W19', 'S19']

In [142]:
dict3

{'Name': 'hossein', 'Course No.': 2, 'Semester Reg.': ['F18', 'W19', 'S19']}

In [143]:
list_of_dictionary

[{'Name': 'jack', 'Course No.': 1, 'Semesters Reg.': ['F18']},
 {'Name': 'peter', 'Course No.': 2, 'Semesters Reg.': ['F18', 'W19']}]

In [144]:
list_of_dictionary.append(dict3)

In [145]:
list_of_dictionary

[{'Name': 'jack', 'Course No.': 1, 'Semesters Reg.': ['F18']},
 {'Name': 'peter', 'Course No.': 2, 'Semesters Reg.': ['F18', 'W19']},
 {'Name': 'hossein', 'Course No.': 2, 'Semester Reg.': ['F18', 'W19', 'S19']}]

In [150]:
list_of_dictionary = []
dict1 = {'Name': 'jack', 'Course No.': 1, 'Semesters Reg.': ['F18']}

for item in [dict1,{},{},{},{}]:
    list_of_dictionary.append(item)
    
list_of_dictionary

[{'Name': 'jack', 'Course No.': 1, 'Semesters Reg.': ['F18']}, {}, {}, {}, {}]

[{}, {}, {}, {}, {}]

In [153]:
my_dict = {'Name': 'jack', 'Course No.': 1, 'Semesters Reg.': ['F18']}

In [154]:
name_list = ["jack","peter","saif","hossein","asif"]
course_num = [1,2,5,2,0]
semester_list = [["F18"],["F18","W19"],["F17","F18"],["W18"],[]]



for i in [0,1,2,3,4]:
    print(name_list[i])

jack
1
['F18']
peter
2
['F18', 'W19']
saif
5
['F17', 'F18']
hossein
2
['W18']
asif
0
[]

In [ ]:
{"Name":"Joey"}

In [155]:
name_list = ["Joey"]

In [158]:
my_dict={}
list_of_dict = []
for item in name_list:
    my_dict["Name"]=item
    list_of_dict.append(my_dict)

In [159]:
my_dict

{'Name': 'Joey'}

In [160]:
list_of_dict

[{'Name': 'Joey'}]

In [161]:
name_list = ["jack","peter","saif","hossein","asif"]
course_num = [1,2,5,2,0]
semester_list = [["F18"],["F18","W19"],["F17","F18"],["W18"],[]]

In [ ]:
[{'Name': 'jack', 'Course No.': 1, 'Semesters Reg.': ['F18']},
 {'Name': 'peter', 'Course No.': 2, 'Semesters Reg.': ['F18', 'W19']},
 {'Name': 'hossein', 'Course No.': 2, 'Semester Reg.': ['F18', 'W19', 'S19']}]

In [172]:
list_of_dict=[]
for i in range(5):
    my_dict={"Name":name_list[i],"Course No.":course_num[i],"Sememster Reg.":semester_list[i]}
    list_of_dict.append(my_dict)
    
list_of_dict

[{'Name': 'jack', 'Course No.': 1, 'Sememster Reg.': ['F18']},
 {'Name': 'peter', 'Course No.': 2, 'Sememster Reg.': ['F18', 'W19']},
 {'Name': 'saif', 'Course No.': 5, 'Sememster Reg.': ['F17', 'F18']},
 {'Name': 'hossein', 'Course No.': 2, 'Sememster Reg.': ['W18']},
 {'Name': 'asif', 'Course No.': 0, 'Sememster Reg.': []}]

In [166]:
list_of_dict

[{'Name': 'jack', 'Course No.': 1, 'Sememster Reg.': ['F18']},
 {'Name': 'peter', 'Course No.': 2, 'Sememster Reg.': ['F18', 'W19']},
 {'Name': 'saif', 'Course No.': 5, 'Sememster Reg.': ['F17', 'F18']},
 {'Name': 'hossein', 'Course No.': 2, 'Sememster Reg.': ['W18']},
 {'Name': 'asif', 'Course No.': 0, 'Sememster Reg.': []}]

In [168]:
list(zip([1,2,3],['a','b','c'],[10,20,30]))

[(1, 'a', 10), (2, 'b', 20), (3, 'c', 30)]

In [ ]:
name_list = ["jack","peter","saif","hossein","asif"]
course_num = [1,2,5,2,0]
semester_list = [["F18"],["F18","W19"],["F17","F18"],["W18"],[]]

In [173]:
list(zip(name_list,course_num,semester_list))

[('jack', 1, ['F18']),
 ('peter', 2, ['F18', 'W19']),
 ('saif', 5, ['F17', 'F18']),
 ('hossein', 2, ['W18']),
 ('asif', 0, [])]

In [176]:
list_of_dict=[]
for name, id, semester in zip(name_list,course_num,semester_list):
    my_dict={"Name":name,"Course No.":id,"Sememster Reg.":semester}
    list_of_dict.append(my_dict)
list_of_dict

[{'Name': 'jack', 'Course No.': 1, 'Sememster Reg.': ['F18']},
 {'Name': 'peter', 'Course No.': 2, 'Sememster Reg.': ['F18', 'W19']},
 {'Name': 'saif', 'Course No.': 5, 'Sememster Reg.': ['F17', 'F18']},
 {'Name': 'hossein', 'Course No.': 2, 'Sememster Reg.': ['W18']},
 {'Name': 'asif', 'Course No.': 0, 'Sememster Reg.': []}]